
.pic1{
    position: relative;
    // float: left;
    margin-left: 51px;
    margin-top: 10px;
    height: 300px;
    width: 300px;
    display: inline-block;
    
} 
.demo-text-4{
    box-shadow:  0  6px 32px rgba(0,0,0,.1);
    margin: 0;
    width:300px;
    height: 300px;
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    border-radius: 24px;
}

.title{
    position: absolute;
    left: 22px;
    top: 232px;
    font-size: 30px;
    display: inline-block;
}
.title_sub{
    position: absolute;
    left: 24px;
    top: 268px;
    font-size: 18px;
    color: #999999;
    display: inline-block;
}
