/*头部*/
.head{
    width: 750px;
    height: 80px;
}
.head-left{
    width: 70px;
    height: 70px;
    float: left;
    margin-left: 30px;
    margin-top: 10px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 16px 64px rgba(0,0,0,0.3);
}
.head-right{
    width: 50px;
    height: 50px;
    float: right;
    margin-right: 30px;
    margin-top: 16px;
}